<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center" style="font-size: 25pt;">
    邮件管家
</div>
<span style="float: right;">欢迎您! <strong th:text="${session.user.userName}"></strong> <a href="/logout">注销</a></span>
<table border="1" cellspacing="0" style="height: 80%;width: 100%;">
    <tr style="height: 30px;">
        <td>
            <table>
                <tr><td>菜单项>></td><td><a href="/listSend">发件箱</a></td><td>|<a href="/listDraft">草稿箱</a></td></tr>
            </table>
        </td>
    </tr>

    <tr>
        <td height="100%">
            <div style="height:100%;margin: 20px;">
                <p style="margin-top: 50px;"><strong th:text="${session.user.userName}"></strong></p>
                <p>这里是邮件管家，欢迎您的到来！</p>
            </div>

        </td>
    </tr>
</table>
</body>
</html>